@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    color: #000;
    background: #F3F1E5;
}



/* ====================
  ヘッダー
==================== */

header {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/Gemini_Generated_Image_rd20cdrd20cdrd20.png);
}

h1 {
    font-size: 64px;
    color: #fff;
    margin: 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}



/* ====================
  メイン
==================== */

/* 各セクション共通 */

section {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 100px;
}

h2 {
    font-size: 30px;
    margin: 0;
    width: 100%;
    text-align: center;
}



/* ====================
  プロフィール
==================== */

#profile {
    width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 48px;
    background-color: #fafafa;
    border-radius: 5%;
    box-shadow: 0px 0px 20px 20px #fafafa;
}

#profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.img-ling {
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, #BAE6D5 0%, #D3C6F0 100%);
}

.profile-text {
    width: 476px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.profile-description {
    font-size: 16px;
    margin: 0;
    line-height: 1.6;
}



/* ====================
  スキル
==================== */

#skill {
    background: #F3F1E5;
    padding: 80px 0;
}

/* スキルカード全体 */
.skill-items {
    width: 910px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px 80px;
    margin: auto;
}


/* 各スキル */
.skill-item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #fafafa;
    border-radius: 5%;
    box-shadow: 0px 0px 20px 20px #fafafa;
}

.skill-items img {
    width: 200px;
    height: 200px;
    /* background: #cfcfcf; */
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px; */
}

.skill-name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

/* 星 */
.skill-rate {
    font-size: 26px;
    margin: 0;
    /* 星の色を変える */
    /* color: #ffc15d; */
}

/* 黒星の色だけ変える
.skill-rate span {
  color: #f39c12;
}
*/

.skill-desc {
    font-size: 16px;
    margin: 0;
    line-height: 1.4;
}



/* ====================
  作品
==================== */

#works {
    background: #F3F1E5;
}


/* 作品一覧 */
.works-items {
    width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 100px;
}


/* 各作品 */
.work-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.work-item img {
    border-radius: 5%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.work-thumb {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: top;
}


/* 作品タイトル */
#works h3 {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}


/* ----- リンクボタン ----- */
.work-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.work-links a {
    width: 148px;
    padding: 8px 30px;
    background: #000;
    color: #fff;
    text-decoration: none;
    display: inline-flex; /* アイコンと文字を横並び */
    align-items: center;
    font-size: 14px;
    transition: .3s;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.work-links a img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    background: #fff;
    border-radius: 50%;
}


/* Figmaのリンクの背景色 */
.work-links a:nth-of-type(1):hover {
    background-color: #A259FF;
}

.work-links a:nth-of-type(2):hover {
    background-color: #666;
}

.work-links a:nth-of-type(3):hover {
    background-color: #2F88FF;
}

.work-links a:nth-of-type(4):hover {
    background-color: #FF2F32;
}


/* リンクが無い(#)場合の設定 */
.work-links a[href="#"]:hover {
    cursor: not-allowed;
    background: #000;
}

.work-links a[href="#"]:active {
    pointer-events: none;
}


/* リンク内アイコン */
.works-links img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 8px;
}



/* ====================
  フッター
==================== */

footer {
    background: #666;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.copyright {
    font-size: 14px;
    margin: 0;
}